<footer class="eshop-footer">
    <div class="eshop-footer-content">
        <div class="eshop-footer-row">
            <img role="presentation" src="images/bikes/logo.svg" class="logo logo-footer" style="max-width:88px"/>
            <p>Contoso Bikes</p>
        </div>
    </div>
</footer>